In [22]:
# Import needed libraries
import pandas as pd

In [23]:
# Read CSV
df = pd.read_csv(r'C:\Users\mxmmc\Desktop\pow_total_disease_cases.csv')
df.head(3)

   state_fips  county_fips  year       county      state  number_of_cases
0          23        23007  2004     Franklin      Maine                1
1          36        36119  2005  Westchester   New York                1
2          55        55073  2006     Marathon  Wisconsin                1

In [24]:
# Create list of unique values in the 'year' column
years_list = list(df['year'].unique())

In [25]:
# Export CSVs based on the unique values of a column
for year in years_list:
    new_df = df[df.year == year]
    new_df.to_csv(r'C:\Users\mxmmc\Desktop\pow_total_disease_cases_' + str(year) + '.csv')